<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from validtemplates.github.io/clinicom/doctors.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Feb 2023 19:27:34 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clinicom - Medical & Health Template">

    <!-- ========== Page Title ========== -->
    <title>{% block title %}{% endblock %}</title>

    <!-- ========== Favicon Icon ========== 
    
    <link href="{{asset('css/master.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('plugins/iview/css/iview.css')}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{asset('plugins/iview/css/skin/style.css')}}" type='text/css' media='all' /> -->

    <!-- ========== Start Stylesheet ========== -->
    <link rel="shortcut icon" href="{{asset('img/dologo_s.png')}}" type="image/x-icon">
    <link href="{{asset('front/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/font-awesome.min.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/themify-icons.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/flaticon-set.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/magnific-popup.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/owl.carousel.min.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/owl.theme.default.min.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/animate.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/bootsnav.css')}}" rel="stylesheet" />
    <link href="{{asset('front/css/style.css')}}" rel="stylesheet">
    <link href="{{asset('front/css/responsive.css')}}" rel="stylesheet" />
    <script src="{{asset('https://kit.fontawesome.com/7e76930a12.js')}}" crossorigin="anonymous"></script>
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">

</head>
  <!-- Loader Landing Page
  <div id="ip-container" class="ip-container">  -->
    <!-- initial header
    <header class="ip-header" >
      <div class="ip-loader">
        <div class="text-center">
          <div class="ip-logo"><img  src="{{asset('img/dologo.png')}}" height="70" width="350" alt="logo"></div>
        </div>
        <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,39.3,10z"/>
        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        </svg> </div>
    </header>
  </div> -->
  <!-- Loader end -->

<body>

 

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-3 logo">
                    <a href="index.html">
                        <img src="{{asset('img/dologo_light.png')}}" class="logo" alt="Logo">
                    </a>
                </div>
                <div class="col-lg-9 address-info text-right">
                    <div class="info box">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="info">
                                    <span>Email</span> Info@gmail.com
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="info">
                                    <span>Phone</span> +123 456 7890
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-clock-1"></i>
                                </div>
                                <div class="info">
                                    <span>Office Hours</span> Sat - Wed : 8:00 - 4:00
                                </div> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header>
        <div class="container box-nav">
            <div class="row">
                <!-- Start Navigation -->
                <nav id="mainNav" class="navbar logo-less top-less navbar-default navbar-fixed white bootsnav on no-full nav-box no-background">
                    
                    <div class="container">            
                        <!-- Start Atribute Navigation -->
                       
                        <!-- End Atribute Navigation -->

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="{{asset('img/dologo_s.png')}}" class="logo" alt="Logo"></a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="dropdown">
                                    <a href="home">Acceuil</a>       
                                </li>
                                <li>
                                    <a href="about-us.html">A propos</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Services</a>
                                   
                                </li>
                                <li class="dropdown">
                                    <a href="f/afficher_med_front">Docteurs</a>
                                </li>
                                 <li class="dropdown">
                                    <a href="f/afficher_pharm_front">Pharmacie</a>
                                </li>
        
                                <li>
                                    <a href="produits.html">Produits</a>
                                </li>        
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                                    <ul class="dropdown-menu" >
                                        <li><a href="blog.html">Forum</a></li>
                                        <li><a href="articles.html">Magazines</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">contact</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            {% if user  %}
                            <li class="dropdown">
                                <a class=" dropdown-toggle "   data-toggle="dropdown" href="#"><i class=" fa-solid fa-user"></i>      {{user.prenom}} {{user.nom}}</a>
                                <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path ('modifier_user',{'id':user.id}) }}">Modifier mon profil</a></li>
                                        <li><a href="logout">Déconnexion</a></li>
                                </ul>  
                            </li>
                             {% else %}
                                <li class="dropdown">
                                    
                                      <a href="sign_up">  S'inscrire</a> 
                                     
                                </li>
                                <li class="dropdown">
                                    
                                      <a href="login"> | se connecter</a> 
                                    
                                </li>
                            {% endif %}
        
                            </ul>
                            
                        </div><!-- /.navbar-collapse -->
                    </div>   
                </nav>
                <!-- End Navigation -->
                <div class="clearfix"></div>
                
            </div>
        </div>
    </header>
    <!-- End Header -->

    {% block body %}
    {% endblock %} 

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="single-item col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">About Us</h4>
                            <p>
                                Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted
                            </p>
                            <a class="btn btn-md left-icon btn-gradient" href="#"><i class="fas fa-plus"></i> Blood Bank</a>
                            <div class="social">
                                <h5>Get Us:</h5>
                                <ul>
                                    <li class="facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="single-item col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Department</h4>
                            <ul>
                                <li>
                                    <a href="#">Medecine and Health</a>
                                </li>
                                <li>
                                    <a href="#">Dental Care</a>
                                </li>
                                <li>
                                    <a href="#">Eye Treatment</a>
                                </li>
                                <li>
                                    <a href="#">Children Chare</a>
                                </li>
                                <li>
                                    <a href="#">Traumatology</a>
                                </li>
                                <li>
                                    <a href="#">X-ray</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-item col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Usefull Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Ambulance</a>
                                </li>
                                <li>
                                    <a href="#">Emergency</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-item col-lg-4 col-md-6 item">
                        <div class="f-item branches">
                            <h4 class="widget-title">Our branches</h4>
                            <div class="branches">
                                <ul>
                                    <li>
                                        <strong>ACMH Hospital:</strong> 
                                        <span>4992 Bryan Avenue, Prior Lake, Minnesota <br> Phone: 651-379-4698</span>
                                    </li>
                                    <li>
                                        <strong>Central Hospital:</strong> 
                                        <span>2001 Kia Magentis, Prior Lake, Minnesota <br> Phone: 651-379-4698</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>&copy; 2020 <strong>Clinicom</strong>. All Rights Reserved by <a href="#">validtemplates</a></p>
                    </div>
                    <div class="col-lg-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{{asset('front/js/jquery-1.12.4.min.js')}}"></script>
    <script src="{{asset('front/js/popper.min.js')}}"></script>
    <script src="{{asset('front/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('front/js/equal-height.min.js')}}"></script>
    <script src="{{asset('front/js/jquery.appear.js')}}"></script>
    <script src="{{asset('front/js/jquery.easing.min.js')}}"></script>
    <script src="{{asset('front/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('front/js/modernizr.custom.13711.js')}}"></script>
    <script src="{{asset('front/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('front/js/wow.min.js')}}"></script>
    <script src="{{asset('front/js/progress-bar.min.js')}}"></script>
    <script src="{{asset('front/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{asset('front/js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{asset('front/js/count-to.js')}}"></script>
    <script src="{{asset('front/js/YTPlayer.min.js')}}"></script>
    <script src="{{asset('front/js/circle-progress.js')}}"></script>
    <script src="{{asset('front/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('front/js/bootsnav.js')}}"></script>
    <script src="{{asset('front/js/main.js')}}"></script>


    <script src="{{asset('plugins/loader/js/classie.js')}}"></script> 
    <script src="{{asset('plugins/loader/js/pathLoader.js')}}"></script> 
    <script src="{{asset('plugins/loader/js/main.js')}}"></script> 
    <script src="{{asset('js/classie.js')}}"></script> 

</body>

</html>